# SMTP Server Settings (IP Whitelisted, No Auth)
SMTP_HOST=://yourserver.com
SMTP_PORT=587

# Default Sender Identity
SENDER_EMAIL=sender@yourdomain.com
SENDER_NAME="Your Company Name"

# Test Default Destination
RECEIVER_EMAIL=recipient@example.com
RECEIVER_NAME="Recipient Name"
